* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

html {
	font-size: 16px;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	background-color: var(--body-color);
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
	width: 500px;
}

button#dark-mode-toggle {
	height: 35px;
	width: 35px;
	font-size: 30px;
	padding: 0;
}
button#dark-mode-toggle span {
	position: relative;
	top: -5px;
}

div.container {
	display: flex;
	justify-content: center;
	gap: 50px;
}

.pane {
	padding: 10px;
	/* background-color: rgba(0, 0, 0, 0.1); */
	background-color: var(--pane-color);
	border: 2px solid var(--border-color);
	border-radius: 5px;
	overflow-y: hidden;
}

div.container div.pane {
	width: 32vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
}

div.pane textarea {
	flex-grow: 1;
	resize: none;
}

div#visual-output {
	overflow-y: scroll;
	flex-grow: 1;
}

textarea#markdown {
	margin-bottom: 10px;
}

div.markdown.pane hr {
	margin-bottom: 0;
}

/* TOOLS */

ul.tools {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
	margin: 10px 0;
}

ul.tools li {
	margin: 5px 0;
}

ul.tools li input, ul.tools li progress {
	position: absolute;
	top: auto;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
}

ul.tools li label {
	padding: 3px 10px;
	display: block;
	font-family: monospace;
	cursor: pointer;
	user-select: none;
	border-radius: 4px;
	border: 2px solid var(--dim-text-color);
}

ul.tools li input:disabled + label {
	cursor: default;
	color: var(--dim-text-color);
	border-color: var(--border-color);
}

ul.tools li [type="checkbox"]:checked + label {
	color: var(--pane-color);
	border-color: var(--text-color);
	background-color: var(--text-color);
}

ul.tools li [type="file"]:not(.uploading) + label:hover,
ul.tools li [type="button"] + label:hover {
	color: var(--pane-color);
	border-color: var(--text-color);
	background-color: var(--text-color);
}

ul.tools li.image-insert {
	width: 130px;
	display: flex;
	position: relative;
}
ul.tools li.image-insert label {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

ul.tools li.image-insert div.upload-progress {
	display: none;
	width: 50%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}
ul.tools li.image-insert div.upload-progress label {
	width: 130px;
	cursor: default;
	color: var(--pane-color);
	background-color: var(--text-color);
}

ul.tools li [type="file"].uploading + label {
	cursor: default;
}
